/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.button {
  background-image: linear-gradient(#1a1aff, #3333ff);
  text-align: center;
  position: fixed;
  padding: 15px 20px;
  box-shadow: 5px 10px 5px grey;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
